<div
  [ngClass]="{
    'translate-x-0': uiService.showMenu() === true,
    '-translate-x-full': uiService.showMenu() === false
  }"
  class="fixed z-30 min-h-screen w-9/12 translate-x-0 bg-slate-700 transition-all duration-300 sm:w-6/12 md:w-4/12 lg:w-4/12 xl:w-3/12"
>
  <div>
    <shared-close-button />
  </div>
</div>

<div
  [ngClass]="{
    'z-20 opacity-100': uiService.showMenu() === true,
    'z-0 hidden opacity-0': uiService.showMenu() === false
  }"
  class="fixed inset-0 bg-slate-800/75 backdrop-blur-sm transition-all duration-300"
  (click)="uiService.closeMenu()"
></div>
