<div
  class="h-full overflow-hidden rounded-lg border-2 border-gray-800 hover:shadow-lg hover:shadow-slate-800"
>
  <img
    (click)="onclick()"
    class="w-full cursor-pointer object-cover transition-all hover:object-left-top md:h-36 lg:h-48"
    [src]="shop().image!"
    alt="{{ shop().name }}"
    loading="lazy"
  />

  <div class="flex h-3/5 flex-1 flex-col justify-between p-6">
    <!-- General Information -->
    <h2
      class="title-font mb-1 text-xs font-medium tracking-widest text-gray-500"
    >
      {{ shop().category }}
    </h2>
    <h1 class="title-font mb-3 text-lg font-medium text-white">
      {{ shop().name }}
    </h1>
    <p class="mb-3 overflow-auto leading-relaxed">
      {{ shop().description }}
    </p>

    <!-- Contact -->
    <div class="border-t border-slate-800 py-3">
      <div class="flex gap-1">
        <a href="https://rb.gy/eyxbe4">
          <shared-svg-icon iconName="whatsapp" />
          <p class="ml-2 leading-relaxed">{{ shop().whatsapp }}</p>
        </a>
      </div>
      <a
        href="mailto:lumusika@gmail.com?subject=Consulta sobre camaras&body=Hola, me comunico para solicitarte informacion sobre camaras de seguridad"
      >
        <div class="flex gap-1">
          <shared-svg-icon iconName="email" />
          <p class="ml-2 leading-relaxed">{{ shop().email }}</p>
        </div>
      </a>
    </div>

    <!-- See more -->
    <div class="flex flex-wrap">
      <a
        (click)="onclick()"
        class="inline-flex cursor-pointer items-center text-indigo-400 transition-all hover:translate-x-1 md:mb-2 lg:mb-0"
        >Ver más
        <shared-svg-icon iconName="right-arrow" />
      </a>

      <span
        class="ml-auto mr-3 inline-flex items-center border-r-2 border-gray-800 py-1 pr-3 text-sm leading-none text-gray-500 transition-all hover:scale-110 md:ml-0 lg:ml-auto"
      >
        <shared-svg-icon iconName="views" />
        1.2K
      </span>

      <span
        class="inline-flex items-center text-sm leading-none text-gray-500 transition-all hover:scale-110"
      >
        <shared-svg-icon iconName="comments" />
        6
      </span>
    </div>
  </div>
</div>
