<div
  class="h-full overflow-hidden rounded-lg border-2 border-gray-800 hover:shadow-lg hover:shadow-slate-800"
>
  <img
    class="w-full object-cover transition-all hover:object-left-top md:h-36 lg:h-48"
    [src]="shop().image!"
    alt="{{ shop().name }}"
    loading="lazy"
  />
  <div class="flex flex-col justify-between p-6">
    <div>
      <h2
        class="title-font mb-1 text-xs font-medium tracking-widest text-gray-500"
      >
        {{ shop().category }}
      </h2>
      <h1 class="title-font mb-3 text-lg font-medium text-white">
        {{ shop().name }}
      </h1>
      <p class="mb-3 leading-relaxed">
        {{ shop().description }}
      </p>

      <div class="border-t border-slate-800 py-3">
        <p class="leading-relaxed">Whatsapp: {{ shop().whatsapp }}</p>
        <p class="leading-relaxed">Email: {{ shop().email }}</p>
      </div>
    </div>
    <div class="flex flex-wrap">
      <a
        class="inline-flex cursor-pointer items-center text-indigo-400 md:mb-2 lg:mb-0"
        >Ver más
        <svg
          class="ml-2 h-4 w-4"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M5 12h14"></path>
          <path d="M12 5l7 7-7 7"></path>
        </svg>
      </a>
      <span
        class="ml-auto mr-3 inline-flex items-center border-r-2 border-gray-800 py-1 pr-3 text-sm leading-none text-gray-500 md:ml-0 lg:ml-auto"
      >
        <svg
          class="mr-1 h-4 w-4"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          viewBox="0 0 24 24"
        >
          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
          <circle cx="12" cy="12" r="3"></circle></svg
        >1.2K
      </span>
      <span class="inline-flex items-center text-sm leading-none text-gray-500">
        <svg
          class="mr-1 h-4 w-4"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          viewBox="0 0 24 24"
        >
          <path
            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
          ></path></svg
        >6
      </span>
    </div>
  </div>
</div>
